.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.github/
.pytest_cache/
.mypy_cache/
notebooks/
mlartifacts/
mlruns/
data/
reports/predictions/
reports/figures/
reports/tables/
reports/summaries/
.dvc/
.dvcignore
tmp/
temp/
